<%= @doctor.name %> <br>
<%= @doctor.specialty %><br>
<%= @doctor.education %><br>
<%= @doctor.hospital.name %><br>
<table>
<% @doctor.patients.each do |patient| %>
  <tr id= "patient-<%=patient.id%>">
    <td><%= patient.name %></td>
    <td><%= patient.age %></td>
    <td><%= button_to 'Remove from caseload', doctor_patient_path(patient.id), params: {doctor_id: @doctor.id}, method: :delete  %>
  </tr>
  <% end %>
</table>
